* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    height: 5vh;
    width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  /* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}

/* All the snapping stuff */
.scroll-container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

section {
    height: 100vh;
    scroll-snap-align: center;
}

/* Other styles */
section {
    padding: 1rem;
    display: flex;
}

section:nth-child(1) {
    background-color: whitesmoke;
    justify-content: center;
    align-items: center;
    font-size: 5vmax;
    color: black;
    font-family: sans-serif;
}


section:nth-child(2) {
    background-color: lightgray;
    font-size: 2vmax;
}

section:nth-child(3) {
    background-color: darkgrey;
    font-size: 2vmax;
}

section:nth-child(4) {
    background-color: grey;
    font-size: 2vmax;
}

section:nth-child(5) {
    background-color: black;
    color: white;
    font-size: 2vmax;
}